<h1>New List</h1>

  <div class="container center_div">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.submit class: "btn btn-primary mt-3" %>
    <% end %>
  </div>

  <%= link_to 'Go back', lists_path, class: "btn btn-danger mt-3" %>
